.page-02{
	.wrapper{
		@include max-screen($md){
			display: block;
		}
	}
	.page-header__title{
		
	}
	.page__content{
		@include min-screen($md){
			padding-right: 30px;
		}
	}
}
.page__content{
		flex: 0 1 50%;
	@include min-screen($md){
		
	}
}
.page-02__img{
	align-self: flex-start;
		flex: 0 1 50%;
	@include min-screen($md){
		
	}

	img{
		max-width: 100%;
	}
}