 .page-06{
    .wrapper{
        @include max-screen($sm){
            display: block;
        }
    }
    .advantages{
        display: block;
        flex: 0 1 50%;
    }
    .advantage{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, auto);
        @include adaptive-value('column-gap', 50, 20, 2);
        @include adaptive-value('row-gap', 30, 15, 2);

        &:not(:last-child){
            @include adaptive-value('margin-bottom', 60, 30, 2);
        }


    }
    .advantage__icon{
        grid-row: span 2;
        align-self: center;
    }
    .page-header__title{
            max-width: rem(500);

    }
    .page__content{
        @include min-screen($sm){
            padding-right: 30px;
        }
    }
 }