/*--------------------adjustment----------------------*/
*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
	// height: 100%;
}
body{
	// font-family: $reg;
	font-weight: normal;
	@include adaptive-value('font-size', 25, 18, 2);
	min-width: 320px;
	position: relative;
	// line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	color: $text;

	.lock & {
		overflow: hidden;
		touch-action: none;
		overflow-behavior: none;
	}
}

// #wrapper-for-scroll-fix{
// 	overflow: hidden;
// }
// #wrapper-for-scroll-fix.modal-open {
//     padding-right: var(--scroll-width);
// }

// Прижать футер к низу

// html, body{
// 	height: 100%;
// }
// .main{
// 	display: flex;
// 	flex-direction: column;
// 	height: 100%;
// 	.header{
// 		flex: 0 0 auto;
// 	}
// 	.main-content{
// 		flex: 1 1 auto;
// 	}
// 	.footer{
// 		flex: 0 0 auto;
// 		// margin-top: auto;
// 	}
// }

// END Прижать футер к низу
section{
	
}
ul, li{
	margin: 0;
	padding: 0;
}
input
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
	appearance: none;
}
.input,
input{
	outline: none;
	display: block;
	width: 100%;
}
textarea.input{
	resize: none;
	padding: 0 0;
}
//END input
.wrapper{
	margin: 0 auto;
	@include adaptive-value('padding-left',  240, 15, 2);
	@include adaptive-value('padding-right',  240, 15, 2);
	// padding-top: rem(155);
	// padding-bottom: rem(155);
	flex: 1 1 auto;
	height: 100%;
	display: flex;
	align-items: center;

	// padding-left: #{$containerPaddings / 2 + px};
	// max-width: $maxContainerWidth + px;
	// @include row-flex();
	// @include wrapper();

}
.page-01{
	.wrapper{
		@include max-screen($sm){
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.page__body{
	// padding-top: rem(155);
	// padding-bottom: rem(155);
	@include adaptive-value('padding-top', 155, 50, 2);
	@include adaptive-value('padding-bottom', 155, 50, 2);
		@include adaptive-value('padding-left',  240, 0, 2);
	@include adaptive-value('padding-right',  240, 0, 2);
	flex: 1 1 auto;
	overflow: hidden;
	// height: 100%;
	@include max-screen($xs){
		padding-left: 15px;
		padding-right: 15px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
// classes for smartgrid(c) structure
// .wrapper-smart{
// 	@include wrapper();
// }
// .wrapper-flex{
// 	@include row-flex();
// }
// .column{
// 	@include col();
// 	@include size(1);	
// }

.hidden{
	display: none;
}
a{
	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{
			color: $accent;
			text-decoration: none;
		}

	}
}
.ibg{
background-position: center; 
background-size: cover; 
background-repeat: no-repeat; 
position: relative;
padding-bottom: 52.25%;
}

.ibg img{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0; 
	// visibility: hidden;
}
._prod-img {
	position: relative;
	padding-bottom: 80%;
	img{
		@include absolute-center;
	}
}
._fit{
	position: relative;
}
._fit ._fit-img{//_fit - class for object-fit
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover; 
	object-position: center center;
}

.bd-filter-fallback{// определение поддержки блюра без джаваскрипт
	@supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)){// определение поддержки блюра без джаваскрипт
			background-color: rgba(255, 255, 255, .72);
			backdrop-filter: blur(31px);
		}
}
// tabs-pure base styles
// .tabs__buttons{
// 	display: flex;
// }
// .tabs__container{
// }
// .tab-content,
// .tabs__buttons li{
// 	list-style-type: none;
// }
// .tab{
// 	text-decoration: none;
// 	display: block;
// 	&.active{
// 		background-color: pink;
// 	}
// }

// показ спойлеров на определенном разрешении. Включать только при установленном аттрибуте data-breakpoint="" у .accordion
// .accordion:not(.combine){
// 	.accordion__content.hidden{
// 		@include min-screen($md){
// 			display: block;
// 		}
// 	}
// }

// service ui elements styles
// @import "_misc/_tabs-accordion";
// @import "_misc/_rating";
// @import "_misc/_noUiSlider-base";
// @import "_misc/_counter";
// @import "_misc/multilevel-dropdown.scss";
@import "_misc/_single-dropdown.scss";

.toggle-mnu{
	position: fixed;
	right: 30px;
	top: 15px;
  display: block;
  width: 28px;
  height: 28px;
  // margin-top: 14px;
  padding: 0;
  background-color: transparent;
  border: none;

  @include min-screen($sm){
 	 display: none;
  	
  }  

  span:after, span:before{

    content: "";
    position: absolute;
    left: 0;
    top: 9px;
  } 

  span:after{

    top: 18px;
  }

  span{

    position: relative;
    display: block;
  } 

  span, span:after, span:before{

    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }


  &.on span{

    background-color: transparent;
  } 

  &.on span:before{

    transform: rotate(45deg) translate(-1px, 0px);
  } 

  &.on span:after{

    transform: rotate(-45deg) translate(6px, -7px);
  } 
} 
.main{
	counter-reset: myCounter;
}
.page{
		// position: relative;
		&:not(.page-01){
			@include max-screen($sm){
				padding-top: 50px;
			}

		}
		&:after{
			position: absolute;
			top: 50%;
			@include adaptive-value('right', 120, 0, 2);
			transform: translate(50%, -50%);
			counter-increment: myCounter;
			content:counter(myCounter, decimal-leading-zero);
			color: #E3E6EC;
			font-weight: 700;
			@include adaptive-value('font-size', 60, 25, 2);

			@include max-screen($sm){
				top: 20px;
				left: 50%;
				right: auto;
				transform: translate(-50%, 0);
			}
		}
		&--center{
			display: flex;
			align-items: center;
			// justify-content: center;
			// flex-direction: column;
		}
		&--invert{
			.page-header__title {
				color: #fff;
				
			}
			.page-header__text {
				color: #E3E6EC;
			}
		}
}
.docSlider-pager{
	right: auto;
	@include adaptive-value('left', 120, 0, 2);
	// transform: translate(-50%, 0);

	@include max-screen($sm){
		left: 50%;
		bottom: 20px;
		top: auto;
		transform: translate(-50%, 0);
		display: flex;
		flex-wrap: wrap;
	}
}
.docSlider-button{
	width: rem(5);
	height: rem(50);
	margin: 10px 0;
	background-color:$accent;
	border-radius: 0;

	@include max-screen($sm){
		width: rem(30);
		height: rem(5);
		margin-top: 0;
		margin-left: 5px;
		margin-right: 5px;
		border: 2px solid #fff;
	}
}
.page-header {
	position: relative;
	z-index: 2;
}
.page-header__text {

	line-height: calc(31 / 25);

	&:not(:last-child){
		margin-bottom: em(32);
	}

}
.page-header__title {
	max-width: rem(500);
	// @include adaptive-value('max-width', 500, 0, 2);
	font-weight: 700;
	// font-size: 60px;
	@include adaptive-value('font-size', 60, 35, 2);
	line-height: calc(75 / 60);
	@include adaptive-value('margin-bottom', 132, 20, 2);
	color: $accent;

	@include min-screen(1920px){
		max-width: none;
	}
}
.page-header__prgrf{
	max-width: rem(529);
	font-size: 25px;
	line-height: calc(45 / 25);

}
/*--------------------END adjustment----------------------*/ 